@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap');
@import './utils/mixin';
@import './blocks/section-1';
@import './blocks/section-2';
@import './blocks/section-3';
@import './blocks/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;

    section {
        padding: 0 88px;
    }
}

.line {
    display: inline-block;
    width: 80px;
    height: 0;
    border: 3px solid #AB0433;
    background-color: #AB0433;
    margin-top: 88px;
    text-align: center;
}

.h-2-primary {
    @include feature(700, 40px, 48px, #505050);
}