.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;

    .top{
        width: 100%;
        padding: 0 88px; 
        
        .nav-1{
            width: 100%;
            height: 280px;
            background-image: url(../../Assets/images/bg-img-2.jpg);
            background-position: center;
            background-size: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 45px 0;
            position: relative;
            top: -140px;
            border-radius: 10px;
    
            h2{
                @include feature(700, 45px, 60px, white);
            }
    
            p{
                @include feature(600, 24px, 35px, white);
                text-align: center;
            }
    
            .btn{
                margin-top: 20px;
                padding: 8px 16px;
                background-color: #FF753A;
                color: white;
                text-decoration: none;
                border: 1px solid transparent;
                border-radius: 32px;
                transition: 0.5s;

                &:hover {
                    background-color: white;
                    color: #505050;
                }
            }
        }
    
        .nav-2{
            @include display(flex, column, none, center, 20px);
            margin-top: -140px;
            width: 100%;
            height: 650px;
    
            .products{
                margin-top: 30px;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: 252px;
                gap: 32px;
    
                .product{
                    .product-image{
                        background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
                        border-radius: 10px 10px 0px 0px;
    
                        img{
                            position: relative;
                            top: -30px;
                        }
                    }
                }
    
                .product-name{
                    height: 140px;
                    padding: 16px 24px;
                    background: #f8f4f4;
                    border-radius: 0px 0px 10px 10px;
                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;
                    margin: 0px 0px;
    
    
                    .price{
                        display: flex;
                        justify-content: space-between;
                    }
    
                    p{
                        @include feature(500, 16px, 20px, #767676);
                        margin-top: 10px;
                    }
    
                    button{
                        margin-top: 30px;
                        padding: 5px 10px;
                        background-color: transparent;
                        border: 1px solid rgba(128, 128, 128, 0.568);
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 0.5s;

                        &:hover {
                            background-color: #FF753A;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .bottom{
        margin-top: 88px;
        padding: 0 88px;
        padding-bottom: 88px;       
        background-color: #ECECEC;
        width: 100%;
        text-align: center;

        h2 {
            margin-top: 16px;
        }

        .products{
            // @include display(flex, row, none, none, 30px);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 392px; 
            gap: 30px;
            margin-top: 40px;

            .product{
                width: 100%;
                
                .product-image{        
                    background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
                    border-radius: 10px 10px 0px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .product-name{
                padding: 16px 24px;
                background: #f8f4f4;
                border-radius: 0px 0px 10px 10px;
                margin: 0px 0px;
                text-align: start;


                .price{
                    display: flex;
                    justify-content: space-between;
                }

                p{
                    @include feature(500, 16px, 20px, #767676);
                    margin-top: 10px;
                }

                button{
                    margin-top: 30px;
                    padding: 5px 10px;
                    background-color: transparent;
                    border: 1px solid gray;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover {
                        background-color: #FF753A;
                        color: white;
                    }    
                }
            }
        }
    }
}